In [1]:
import pandas as pd
import numpy as np

In [3]:
# read output1 creating headers with a loist of strings creating new indexes
df = pd.read_csv('r.csv', header=None,index_col=False, names=['Day','Average_temp','Avg_press','Avg_wind_speed','Minimal_temp','Max_temp','Press_min','Press_max','Wind_min','Wind_max'])

In [4]:
# minimnal_temp and Max_temp to float 
df['Minimal_temp'] = df['Minimal_temp'].astype(float)
df['Max_temp'] = df['Max_temp'].astype(float)

In [5]:
df.to_excel('output.xlsx', index=False)

In [6]:
df.head()

,Day,Average_temp,Avg_press,Avg_wind_speed,Minimal_temp,Max_temp,Press_min,Press_max,Wind_min,Wind_max
0,1980-01-01,15.428571,1024.171429,5.200000,15.0,16.0,1022.8,1025.4,4.1,7.2
1,1980-01-02,14.642857,1024.242857,4.978571,12.0,16.0,1022.8,1025.4,3.6,7.2
2,1980-01-03,13.190476,1024.104762,4.552381,7.0,17.0,1021.9,1025.4,2.1,7.2
3,1980-01-04,12.750000,1023.714286,4.214286,7.0,17.0,1021.8,1025.4,0.0,7.2
4,1980-01-05,12.657143,1023.688571,3.542857,7.0,17.0,1021.8,1025.4,0.0,7.2

In [7]:
df.shape

(15961, 10)